* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.home {
  width: 100%;
  min-height: 100vh;
}
nav {
  width: 100%;
  min-height: 15vh;
  display: flex;
  align-items: center;
  padding: 10px 50px;
}
nav img {
  width: 250px;
}

.Container {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(212, 18, 181);
  background: linear-gradient(
    90deg,
    rgba(212, 18, 181, 1) 0%,
    rgba(155, 57, 189, 1) 47%,
    rgba(93, 8, 158, 1) 95%
  );
}

.TextSide {
  width: 45%;
  /* min-height: 70vh; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.TextSide h1 {
  font-size: 70px;
  color: white;
}

.ImgSide {
  width: 55%;
  /* min-height: 70vh; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

}
.ImgSide img{
    width: 500px;
}
footer {
  width: 100%;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: 25px;
  background-color: rgb(240, 73, 187);
  color: white;
}


@media(max-width:768px) {
.Container{
display: flex;
  flex-direction: column;
  
}

}